@import '../../Constants.css';

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.containerItem {
    font-size: 3em;
    text-align: center;
}

.containerItem h1 {
    text-transform: uppercase;
}

.containerItem h3 {
    margin-top: 0.5em;
    font-size: 0.7em;
    text-transform: uppercase;
}

.containerItem a {
    padding: 0.2em;
    border-radius: 0.1em;
    color: var(--main-bg-color);
    background: var(--link3-c);
    transition: 0.5s;
}

.containerItem a:hover {
    color: var(--main-bg-color);
    background: var(--link3-c-hover);
}